td.info {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

td.info:hover {
    color: #0056b3;
    text-decoration: underline;
}

.vericaltext {
    width: 1px;
    word-wrap: break-word;
    white-space: pre-wrap;
}