html, body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
}

section#student-leture {
    flex-grow: 1;
}

.vericaltext {
    width: 1px;
    word-wrap: break-word;
    white-space: pre-wrap;
}