body {
  font-size: 0;
}

/* header開始 */

.header {
  display: inline-block;
  position: relative;
  background-color: #19AFC9;
  width: 50%;
  height: 100vh;
  vertical-align: middle;
}

.header .background {
  display: block;
  position: absolute;
  background-color: #033139;
  width: 100%;
  height: 36%;
  bottom: 0;
}

.header .container {
  width: 90%;
  padding: 0;
  margin: 0 auto;
}

.header .container h1 {
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 2.2rem;
  line-height: 1.5;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
  margin: 15% 0;
  position: relative;
  top: 15%;
  z-index: 2;
}

.header .header_img {
  position: absolute;
  width: 700px;
  bottom: 30%;
  left: 46%;
  transform: translateX(-50%);
}

.header .header_img img {
  width: 100%;
}

.header .header_2_img {
  position: absolute;
  width: 25%;
  top: 23%;
  right: -5%;
}

.header .header_2_img img {
  width: 100%;
}

.header .logo_img {
  position: absolute;
  width: 35%;
  min-width: 300px;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.header .logo_img img {
  width: 100%;
}

@media screen and (max-width:1080px) {
  .header {
    display: block;
    width: 100%;
    height: 50vh;
  }
  .header .container h1 {
    margin: 0;
    padding: 10% 0;
  }
  .header .background {
    display: none;
  }
  .header .logo_img {
    display: none;
  }
  .header .header_img {
    bottom: -12%;
    z-index: 1;
  }
  .header .header_2_img {
    width: 15%;
    top: 35%;
    right: 5%;
  }
}

@media screen and (max-width:650px) {
  .header {
    height: 40vh;
  }
  .header .header_img {
    width: 100%;
    bottom: -12%;
  }
  .header .container h1 {
    font-size: 1.5rem;
    padding: 40px 0;
  }
  .header .header_2_img {
    top: 50%;
  }
}

@media screen and (max-width:400px) {
  .header .header_img {
    bottom: -30px;
  }
}

/* header結束 */

/* login開始 */

.login {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100vh;
  vertical-align: middle;
}

.login .container {
  position: absolute;
  display: inline-block;
  width: initial;
  min-width: 300px;
  left: 50%;
  top: 50%;
  padding: 0;
  margin: 0 auto;
  transform: translate(-50%, -50%);
}

.login .container h2 {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: solid 3px #FDC236;
  margin: 20px 0 40px;
}

.login .container .login_form .input_title {
  font-size: 1rem;
  margin-bottom: 10px;
}

.login .container .login_form .input {
  width: 100%;
  height: 50px;
  padding: 10px;
  color: #333;
  font-size: .9rem;
  border: solid 1px #d1d1d1;
  border-radius: 5px;
  margin: 10px 0;
  transition: all .2s ease-in-out;
}

.login .container .login_form .input:focus {
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(293, 154, 54, .3);
}

.login .container .login_form .btn {
  display: block;
  font-size: .9rem;
  font-weight: bold;
  color: #fff;
  background-color: #19AFC9;
  padding: 20px;
  margin: 40px 0 20px;
  width: 100%;
  border-radius: 40px;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, .2);
}

.login .container .login_form .btn:hover {
  background-color: #1294AB;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .2);
}

@media screen and (max-width:1080px) {
  .login {
    display: block;
    width: 100%;
    height: 50vh;
    background-color: #033139;
  }
  .login .container h2 {
    display: none;
  }
  .login .container .login_form .input:focus {
    box-shadow: 0 0 5px 1px rgba(293, 154, 54, .6);
  }
}

@media screen and (max-width:650px) {
  .login {
    height: 60vh;
  }
  .login .container {
    width: 90%;
    min-width: 290px;
  }
}

/* login結束 */